@import '../assets/color.scss';

.worklog__wrapper {
    position: relative;
}

.worklog {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 33px;
    padding-right: 35px;
    border-bottom: 1px dashed $border;
}

.worklog__interval-time {
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 130px;
    margin-right: 23px;

    &_gray {
        color: $font-light-gray;
    }
}

.worklog__interval-time-btn {
    width: 38px;
    height: 38px;
    margin: 20px 84px 0 32px;
    padding-top: 7px;
    border-radius: 50%;
    text-align: center;
    background-color: $white;
    align-self: flex-start;
}

.worklog__amount {
    font-size: 16px;
    line-height: 26px;
    color: $font-dark-gray;
}

.worklog__status {
    display: block;
    width: 3px;
    height: 76px;
    background-color: transparent;
    border-radius: 1px;

    &_error {
        background-color: $error;
    }

    &_warning {
        background-color: $in-progress;
    }

    &_done {
        background-color: $done;
    }
}

.worklog__name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 87px;
    padding-left: 27px;
    position: relative;

}

.worklog__code-issue {
    font-family: inherit;
    font-size: 15px;
    line-height: 26px;
    height: 26px;
    color: $font-mid-gray;
    margin-bottom: 2px;
    border: none;
    background-color: transparent;
    width: 150px;

    &:focus {
        outline: none;
    }
}

.worklog__name {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 19px;
    line-height: 29px;
    font-weight: 600;
    color: $font-black;
    border: none;
    background-color: transparent;
    width: 400px;

    &:focus {
        outline: none;
    }
}

.worklog__time {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: $font-light-gray;
    width: 80px;
    margin-left: auto;
    margin-right: 38px;
}

.worklog__btn {
    border: none;
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $light-gray;
    flex-shrink: 0;

    &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: 12px;
        left: 11px;
        background-image: url(../assets/img/icon/play.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}

.worklog__on-hover {
    display: none;
    position: absolute;
    top: 0;
    right: -37px;
    width: 58px;
    height: 100%;
    background-color: $violet;
    border-radius: 0px 10px 10px 0px;
}

.worklog__options-btn {
    border: none;
    background-color: transparent;
    padding: 6px 9px 12px;
    display: block;
    margin-left: auto;
    margin-right: 7px;
    margin-top: calc(50% + 4px);
    cursor: pointer;
}

.worklog__btn-round {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 7px 0px 0px $white;
}

.worklog__wrapper:hover {
    max-width: 1141px;

    & .worklog {
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0px 15px 30px rgba(216, 226, 232, 0.12);
        padding-right: 35px;
        z-index: 1;
    }
}

.worklog__wrapper:hover .worklog__on-hover {
    display: block;
}

.worklog__menu-wrapper {
    z-index: 1;
    position: absolute;
    display: none;
    top: 91px;
    right: -37px;

    &:hover {
        display: block;
    }

}

.worklog__on-hover:hover~.worklog__menu-wrapper {
    display: block;
}