@import '../assets/color.scss';

.time-tracking {
    position: relative;
    padding-left: 38px;
    padding-top: 10px;
    padding-right: 60px;
    border-bottom: 1px solid $border;
}

.time-tracking__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.time-tracking__title {
    margin: 0;
    padding: 0;
    font-size: 23px;
    line-height: 35px;
    font-weight: bold;
}

.time-tracking__options {
    padding: 13px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.time-tracking__menu {
    display: none;
    top: 40px;
    right: 63px;
}

.time-tracking__options:hover~.time-tracking__menu,
.time-tracking__options:focus~.time-tracking__menu {
    display: block;
}

.time-tracking__round {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $font-gray;
    box-shadow: 7px 0px 0px 0px $font-gray, -7px 0px 0px 0px $font-gray;
}