@import '../assets/color.scss';

.header {
    width: 100%;
    background-color: $violet;
    color: $white;
    padding: 26px 61px 19px 78px;

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1781px;
    margin: 0 auto;
}