@import '../assets/color';

.react-calendar {
    display: none;
    position: absolute;
    top: 64px;
    padding: 39px 53px 35px;
    width: 462px;
    background-color: $white;
    box-shadow: 0px 7px 30px rgba(148, 156, 160, 0.08);
    border-radius: 10px;
    z-index: 2;

    &:hover {
        display: block;
    }
}

.react-calendar__navigation {
    align-items: start;

}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
    position: relative;
    padding: 0;
    width: 18px;
    font-size: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }


    &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 4px;
        width: 9px;
        height: 9px;
        border: 2px solid $violet;
        border-bottom: none;
        border-left: none;
        transform: rotate(45deg);
    }
}

.react-calendar__navigation__prev-button {
    &::before {
        transform: rotate(-135deg);
    }
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__navigation__label {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.react-calendar__navigation__label__labelText {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: $black;
}

.react-calendar__month-view__weekdays {
    justify-content: space-between;
    align-items: center;
    padding: 13px 17px 9px;
}

.react-calendar__month-view__weekdays__weekday {
    flex-basis: auto !important;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $weekday-color;

    & abbr {
        text-decoration: none;
    }
}

.react-calendar__month-view__days__day {
    flex-basis: auto !important;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 8px;

    & abbr {
        position: relative;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        color: $day-color;
    }

    &:nth-child(7n+7) {
        margin-right: 0;
    }

    &--neighboringMonth {
        opacity: 0.4;
    }

    &:focus {
        outline: none;
    }


}


.react-calendar__tile {
    &--now {
        border: 3px solid $violet;
        border-radius: 50%;
    }

    &--active {
        background-color: $violet;
        border-radius: 50%;

        &>abbr {
            color: $white;
        }
    }

}



.react-calendar__month-view__days {
    list-style: none;
    margin: 0;
    margin-bottom: 43px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.calendar__day {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: $day-color;
    width: 44px;
    height: 44px;
    text-align: center;
    padding-top: 7px;
    margin-right: 8px;
    margin-bottom: 8px;





    &_chosen {
        background-color: $violet;
        border-radius: 50%;
        color: $white;
    }

    &::before {
        content: '';
        position: absolute;
        left: calc(50% - 20px/2);
        bottom: 10px;
        width: 20px;
        height: 6px;
        border: 1px solid $white;
        border-radius: 48px;
        background-color: $done;
    }

    &_missed::before {
        background-color: $error;
    }

    &_in-progress::before {
        background-color: $in-progress;
    }
}

.calendar__statuses-wrapper {
    margin: 0 auto;
    display: flex;
    width: 225px;
    justify-content: space-between;
    align-items: center;
}

.calendar__status {
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 25px;
    font-size: 11px;
    line-height: 13px;
    color: $font-mid-gray;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 6px;
        border: 1px solid $white;
        border-radius: 48px;
        background-color: $done;
    }

    &_missed::before {
        background-color: $error;
    }

    &_in-progress::before {
        background-color: $in-progress;
    }
}