@import "../assets/color.scss";

.MuiSnackbar-root {
    display: block !important;
}

.MuiSnackbar-anchorOriginBottomRight {
    left: auto;
    right: 61px !important;
    bottom: 48px !important;
}

.MuiSnackbarContent-action {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 284px !important;
}

.MuiSnackbarContent-message {
    padding: 0;
}

.notification {
    position: fixed;
    bottom: 48px;
    right: 61px;
    width: 343px;
    min-height: 138px;
    padding: 28px 25px 27px 34px;
    background: $white;
    box-shadow: 0px 7px 15px rgba(148, 156, 160, 0.13);
    border-radius: 20px;
    z-index: 3;
}

.MuiSnackbarContent-root {
    background-color: transparent !important;
    padding: 0 !important;
    letter-spacing: none !important;
}

.MuiPaper-elevation6 {
    box-shadow: none !important;
}

.notification__status-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.notification__status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;

    &_error {
        background-color: $error;
    }

    &_done {
        background-color: $done;
    }
}

.notification__btn-close {
    padding: 0;
    position: relative;
    border: none;
    background-color: transparent;
    width: 12px;
    height: 12px;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 5px;
        height: 9px;
        width: 1px;
        background-color: $font-gray;
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:focus {
        outline: none;
    }
}

.notification__message {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 26px;
    font-weight: 600;
    color: $font-black;
}