@import "../assets/color.scss";

.popup-new-worklog {
    display: block;
    width: 660px;
    background-color: $white;
    border-radius: 10px;
    position: fixed;
    z-index: 2;
    top: calc(50% - 235px);
    left: calc(50% - 330px);
}

.popup-new-worklog__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    padding: 28px 56px 25px;
    background: $background-title;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 48px;
}

.popup-new-worklog__form {
    padding: 0 61px 46px 56px;
}

.popup-new-worklog__slider {
    min-height: 55px;
    margin-bottom: 29px;
}

.popup-new-worklog__input-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    &:last-of-type {
        margin-bottom: 44px;
    }
}

.popup-new-worklog__label {
    display: block;
    font-size: 10px;
    line-height: 14px;
    color: $font-dark-gray;
    margin-bottom: 5px;
}

.popup-new-worklog__input {
    color: $font-black;
    width: 100%;
    padding-bottom: 14px;
    border: none;
    border-bottom: 1px solid $border;

    &::-webkit-input-placeholder {
        font-size: 12px;
        line-height: 17px;
        color: $font-gray;
    }

    &:focus {
        outline: none;
        border-bottom: 1px solid $font-black;
    }
}

.popup-new-worklog__btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 117px;
    margin: 0 auto;
}

.popup-new-worklog__submit {
    position: relative;
    border: none;
    background-color: $white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 7px 15px rgba(148, 156, 160, 0.13);

    &::before {
        position: absolute;
        left: 19px;
        top: 21px;
        content: "";
        width: 15px;
        height: 2px;
        display: block;
        border-radius: 5px;
        transform: rotate(-45deg);
        background-color: $done;
    }

    &::after {
        position: absolute;
        content: "";
        top: 24px;
        left: 15px;
        width: 8px;
        height: 2px;
        display: block;
        border-radius: 5px;
        transform: rotate(-135deg);
        background-color: $done;
    }
}

.popup-new-worklog__close {
    position: relative;
    border: none;
    background-color: $white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 7px 15px rgba(148, 156, 160, 0.13);

    &::before {
        position: absolute;
        content: "";
        left: 15px;
        top: 22px;
        width: 15px;
        height: 2px;
        border-radius: 5px;
        transform: rotate(-45deg);
        background-color: $error;
    }

    &::after {
        position: absolute;
        content: "";
        left: 15px;
        top: 22px;
        width: 15px;
        height: 2px;
        border-radius: 5px;
        transform: rotate(45deg);
        background-color: $error;
    }
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(41, 41, 41, 0.2);
}

.form-error {
    position: absolute;
    right: 0;
    bottom: -19px;
    font-size: 10px;
    line-height: 14px;
    color: $error;
}