$background-page: #F9FAFC;
$background-item: #F3F5F7;
$background-title: #F8F8F8;
$white: #ffffff;
$violet: #3744BD;
$font-black: #1E1E1E;
$font-gray: #C4CACB;
$font-dark-gray: #4F4F4F;
$font-light-gray: #bbbbbb;
$font-mid-gray: #828282;
$border: #E9ECF2;
$light-gray: #F0F3F5;
$in-progress: #FFCC40;
$done: #62d2b1;
$error: #e34040;
$turquoise: #75e1f9;
$orange: #f2994a;
$lavender: #8165f0;
$skyblue: #E3F3FF;
$black: #000000;
$weekday-color: #999999;
$day-color: #444444;
$another-month: #cccccc;